//Colors
$global-standardwhite: #FFFFFF;
$global-standardcolor: #333333;
$global-standardgray: #CDCDCD;
$global-standardorange: #F26641;
$global-standardgreen: #EFF4C7;

//fonts
$fontHeaderPrimary: 'Open Sans';
$fontHeaderSecondary: 'Open Sans Condensed';

//Page Paddings
$padding-XLargeDesktop: 80px;
$padding-LargeDesktop: 40px;
$padding-Tablet: 16px;

//Breakpoint size
$breakpoint-LargeDesktop: 1600px;
$breakpoint-Desktop: 1440px;
$breakpoint-Tablet: 1024px;
$breakpoint-Mobile: 768px;

